.brand-img {
  margin-right: 9px;
}
.dropdown-text:hover {
  color: hsl(0, 0%, 0%);
}
.card {
  height: 500px;
}
.card:hover {
  scale: 1.05;
}
.deal-img {
  width: 100%;
  height: auto;
}
.discount-deal{
  font-size: 22px;
}

.card-body {
  font-size: 20px;
  > .deal_name {
    font-size: 20px;
    font-weight: bold;
  }
  > .location {
    font-size: 15px;
  }
}
.footer-topic {
  height: 200px;
}
.footer-box {
  margin-top: 4px;
}
.nav-link {
  color: whitesmoke !important;
}
.help_center {
  font-size: 20px;
  padding: 7px;
  border: 2px solid;
  border-radius: 8px !important;
}
.posted {
  font-weight: 500;
}
.form-body {
  font-size: 17px !important;
}
.message {
  font-size: 14px !important;
  margin-bottom: 6px;
}

.custom-loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #144cf4;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}
